
@{
    ViewBag.Title = "Blog01";
    Layout = "~/Views/Shared/_myLayout01.cshtml";
}

<!--about-part start-->
<section class="about-part blog-part">
    <div class="container">
        <div class="about-part-details text-center">
            <h2>blog</h2>
            <div class="about-part-content
					">
                <div class="breadcrumbs">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li><a href="index.html">home</a><span>//</span></li>
                            <li><a href="blog.html">blog</a></li>
                        </ol><!--/.breadcrumb-->
                    </div><!--/.container-->
                </div><!--/.breadcrumbs-->
            </div><!--/.about-part-content-->
        </div><!--/.about-part-details-->
    </div><!--/.container-->

</section><!--/.about-part-->
<!--about-part end-->
<!--nwes start -->
<section class="news">
    <div class="container">
        <div class="news-details">
            <div class="section-header text-center">
                <h2>our latest news</h2>
                <p>
                    Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div><!--/.section-header-->
            <div class="news-card">
                <div class="row">

                    <div class="col-md-8">
                        <main class="main">
                            <article class="post-45082 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-claims tag-future-of-underwriting tag-sustainability tag-underwriting">
                                <div class="entry-content">
                                    <p><span data-contrast="auto">As fuel prices rise and the world becomes increasingly conscious of the impacts of climate change, demand for electric vehicles is growing. Insurers can be key in helping their customers navigate the obstacles and opportunities of electric vehicles.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <p><span data-contrast="auto">As I shared in my post </span><a href="https://insuranceblog.accenture.com/5-predictions-insurance-industry-2022" target="_blank" rel="noopener" data-analytics-link-name="5 predictions for the insurance industry in 2022" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement=""><span data-contrast="none">5 predictions for the insurance industry in 2022</span></a><span data-contrast="auto">, we expect the global market for electric vehicles to be $725 billion in 2026. This is an emerging growth segment for innovative insurers and not simply a substitution play for declines in existing auto premiums.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <p><span data-contrast="auto">The shift for the insurance industry is in reinventing traditional indemnity-based products as innovative offers that help protect the customer’s interests—not just the customer’s assets.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <h3><b><span data-contrast="auto">Getting past the barriers of electric vehicles</span></b><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></h3>
                                    <p><span data-contrast="auto">For many customers, reliable access to a home charging station is a deal-breaker. </span><a href="https://energynews.us/2022/03/10/connecticut-right-to-charge-bill-paves-path-for-renters-to-install-their-own-ev-chargers/" target="_blank" rel="noopener" data-analytics-link-name="Homeowners and renters" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement=""><span data-contrast="none">Homeowners and renters</span></a><span data-contrast="auto"> in multi-unit dwellings face many obstacles in getting a space equipped with a charging unit, and regulators are beginning to intervene. Those who rely upon on-street parking near their homes in urban areas are getting creative with charging solutions and likely </span><a href="https://www.npr.org/local/305/2022/02/22/1082287557/no-driveways-garages-or-guidance-d-c-electric-vehicle-owners-grapple-with-charging" target="_blank" rel="noopener" data-analytics-link-name="introducing new risks" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement=""><span data-contrast="none">introducing new risks</span></a><span data-contrast="auto"> for the surrounding community in the process.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <p><span data-contrast="auto">The opportunity to enable drivers of electric vehicles with charging solutions will be captured by someone. There are many potential business models and many industries that could create relevant offers at an affordable price. Insurers with their wealth of customer data have a clear advantage.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <p><span data-contrast="auto">We are already seeing innovations in this area like the Drive Electric program by Bâloise. They were recognized with an </span><a href="https://insuranceblog.accenture.com/the-efma-accenture-product-service-2021-winners-set-the-pace" target="_blank" rel="noopener" data-analytics-link-name="Efma-Accenture Innovation in Insurance award" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement=""><span data-contrast="none">Efma-Accenture Innovation in Insurance award</span></a><span data-contrast="auto">. Through their strategic partnerships, they help customers with both setting up home charging stations and with accessing recharging stations across Europe.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <p><span data-contrast="auto">Even for customers who have easy access to charging, supply chain disruptions and inflation may still delay the availability and affordability of electric vehicles. For those customers, insurers can be the strategic partner that provides access to the full range of value-added mobility solutions. Those may include vehicle maintenance plans to extend the life of the customer’s current vehicle, options for errand and delivery services, or quick access to mass transit recommendations.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <h3><b><span data-contrast="auto">Making data the driver</span></b><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></h3>
                                    <p><span data-contrast="auto">Many newer vehicles, particularly electric models, are equipped with sensors and IoT capabilities that take them beyond what we think of as equipment and into the realm of technology devices. They are capable of advanced data analytics and can help the insurer and the customer manage risk in real-time.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <p><span data-contrast="auto">As insurers consider new vehicle underwriting, they will want to take in-vehicle platforms into account. Whether it’s an automaker or a big tech company that owns the in-vehicle platform, insurers are the natural first choice of partners to include. A smooth car buying and underwriting experience can be the beginning of a long and profitable customer journey.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <p><span data-contrast="auto">Insurers with a cloud-enabled technology infrastructure that can accommodate upstream and downstream data flow with ecosystem partners will have the advantage. They will pave the way to bigger underwriting opportunities and more efficient claims decisions down the road.</span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:259}">&nbsp;</span></p>
                                    <hr>
                                    <div><em>Get the latest insurance industry insights, news, and research delivered straight to your inbox.</em></div>
                                    <div><a class="button " href="https://info.accenture.com/fs-blog-subscription-center" data-analytics-link-name="Subscribe" data-analytics-module-name="aib-ghost-button" data-analytics-component-name="aib-ghost-button" data-analytics-template-zone="ghost-button" data-analytics-link-type="navigation" data-analytics-content-class="Content" data-analytics-engagement="1">Subscribe</a><div class="clearfix"></div></div>
                                    <h5><span style="color: #949494; font-size: 0.8em; font-weight: normal;">Disclaimer: This content is provided for general information purposes and is not intended to be used in place of consultation with our professional advisors.</span></h5>
                                    <div class="marketo-post-content"></div>
                                </div>
                                <footer>
                                    <div class="post-tags">
                                        <a href="https://insuranceblog.accenture.com/tag/claims" rel="tag" data-analytics-link-name="Claims" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Claims</a> <a href="https://insuranceblog.accenture.com/tag/future-of-underwriting" rel="tag" data-analytics-link-name="Future of Underwriting" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Future of Underwriting</a> <a href="https://insuranceblog.accenture.com/tag/sustainability" rel="tag" data-analytics-link-name="sustainability" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">sustainability</a> <a href="https://insuranceblog.accenture.com/tag/underwriting" rel="tag" data-analytics-link-name="Underwriting" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Underwriting</a>
                                    </div>

                                    <div class="author-wrap">
                                        <div class="so-widget-acc-author-widget so-widget-acc-author-widget-style-d75171398898">
                                            <div class="acc-author-widget-base">
                                                <div class="acc-author-widget-content">
                                                    <a href="https://insuranceblog.accenture.com/author/kenneth_saldanha" class="acc-author-widget-photo" style="background-image: url('https://insuranceblog.accenture.com/wp-content/uploads/userphoto/199.jpg');"><img src="https://insuranceblog.accenture.com/wp-content/uploads/userphoto/199.thumbnail.jpg" alt="Kenneth Saldanha" width="102" height="130" class="photo"></a>
                                                    <div class="acc-author-widget-info">
                                                        <h4>Kenneth Saldanha</h4>
                                                        <p>Senior Managing Director – Global Insurance Lead</p>
                                                        <div class="acc-author-widget-social-icons">
                                                            <a href="https://www.linkedin.com/in/kenneth-saldanha-0327a317/" target="_blank" title="View Author social profile for linkedin" data-analytics-link-name="icon-linkedin-in-kenneth-saldanha-0327a317" data-analytics-module-name="aib-author-widget" data-analytics-component-name="aib-author-widget" data-analytics-template-zone="author-widget" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="1"><i class="icon-linkedin"></i></a>
                                                            <a href="https://financialservices.accenture.com/ins-kenneth-saldanha-contact.html" target="_blank" title="View Author social profile for mail" data-analytics-link-name="icon-mail-ins-kenneth-saldanha-contact.html" data-analytics-module-name="aib-author-widget" data-analytics-component-name="aib-author-widget" data-analytics-template-zone="author-widget" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="1"><i class="icon-mail"></i></a>
                                                            <a href="https://www.accenture.com/us-en/about/leadership/kenneth-saldanha" target="_blank" title="View Author social profile for accenture" data-analytics-link-name="icon-accenture-us-en-about-leadership-kenneth-saldanha" data-analytics-module-name="aib-author-widget" data-analytics-component-name="aib-author-widget" data-analytics-template-zone="author-widget" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="1"><i class="icon-accenture"></i></a>
                                                        </div>
                                                        <p><a class="acc-author-widget-link" href="https://insuranceblog.accenture.com/author/kenneth_saldanha" data-analytics-link-name="View Profile" data-analytics-module-name="aib-author-widget" data-analytics-component-name="aib-author-widget" data-analytics-template-zone="author-widget" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="1">View Profile</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                </footer>
                            </article>
                        </main>
                    </div> <!--/.col-md-8-->

                    <div class="col-md-4">
                        <div class="blog-right">

                            <div class="blogs-widget">
                                <form>
                                    <input type="text" class="form-control" placeholder="Search">
                                </form><!--/.form-->
                                <div class="blog-search-icon">
                                    <a href="#">
                                        <span class="lnr lnr-magnifier">

                                        </span>
                                    </a>
                                </div><!--/.blog-search-icon-->
                            </div><!--/.blog-widget-->

                            <div class="blogs-widget">
                                <h2>categories</h2>
                                <div class="blog-categories-list">
                                    <ul>
                                        <li><a href="#">all</a></li>
                                        <li><a href="#">busisness</a></li>
                                        <li><a href="#">consultency</a></li>
                                        <li><a href="#">corporate</a></li>
                                        <li><a href="#">politics</a></li>
                                        <li><a href="#">marketing</a></li>
                                        <li><a href="#">lifestyle</a></li>
                                    </ul>
                                </div><!--/.blog-categories-list-->
                            </div><!--/.blog-widget-->

                            <div class="blogs-widget">
                                <h2>related news</h2>
                                <div class="blog-related-news">
                                    <div class="bl-txt wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".7s">
                                        <div class="bl-img">
                                            <a href="#">
                                                <img src="assets/images/blog/rp1.jpg" alt="image" />
                                            </a>
                                        </div><!--/.bl-img-->
                                        <p>
                                            <a href="#">
                                                CFOs focused on retaining key talent
                                            </a>
                                            <span>25th Feb, 2017</span>
                                        </p>
                                    </div><!--/.bl-txt-->
                                    <div class="bl-txt">
                                        <div class="bl-img">
                                            <a href="#">
                                                <img src="assets/images/blog/rp2.jpg" alt="image" />
                                            </a>
                                        </div><!--/.bl-img-->
                                        <p>
                                            <a href="#">
                                                Accenture acquires for the undisclosed sum
                                            </a>
                                            <span>25th Feb, 2017</span>
                                        </p>
                                    </div><!--/.bl-txt-->
                                    <div class="bl-txt">
                                        <div class="bl-img">
                                            <a href="#">
                                                <img src="assets/images/blog/rp3.jpg" alt="image" />
                                            </a>
                                        </div><!--/.bl-img-->
                                        <p>
                                            <a href="#">
                                                Startup investments drop on venturing rises
                                            </a>
                                            <span>25th Feb, 2017</span>
                                        </p>
                                    </div><!--/.bl-txt-->
                                </div><!--/.blog-related-news-->
                            </div><!--/.blog-widget-->

                            <div class="blogs-widget">
                                <h2>Archives</h2>
                                <div class="blog-categories-list">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                November 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                October 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                September 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                August 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                July 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                June 2017
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div><!--/.blog-widget-->

                            <div class="blogs-widget
									">
                                <h2>popular tags</h2>
                                <div class="blog-tags">
                                    <button type="button" class="btn btn-default">busisness</button>
                                    <button type="button" class="btn btn-default">consultency</button>
                                    <button type="button" class="btn btn-default">market</button><br />
                                    <button type="button" class="btn btn-default">sales</button>
                                    <button type="button" class="btn btn-default">corporate</button>
                                    <button type="button" class="btn btn-default">politics</button>
                                </div><!--/.blog-tags-->
                            </div><!--/.blog-widget-->

                        </div><!--/.blog-right-->

                    </div><!--/.col-->

                </div><!--/.row-->
            </div><!--/.news-card-->

        </div><!--/news-details-->
    </div><!--/.container-->

</section><!--/news-->
<!--news end-->
<!-- new-project start -->
<section class="new-project">
    <div class="container">
        <div class="new-project-details">
            <div class="row">
                <div class="col-md-10 col-sm-8">
                    <div class="single-new-project">
                        <h3>
                            Want to get online quotation from us? Let’s Start!
                        </h3>
                    </div><!-- /.single-new-project-->
                </div><!-- /.col-->
                <div class="col-md-2 col-sm-4">
                    <div class="single-new-project">
                        <a href="name-and-contact.html" class="slide-btn">
                            start now
                        </a>
                    </div><!-- /.single-new-project-->
                </div><!-- /.col-->
            </div><!-- /.row-->
        </div><!-- /.new-project-details-->
    </div><!-- /.container-->

</section><!-- /.new-project-->
<!-- new-project end -->
