
@{
    ViewBag.Title = "Blog02";
    Layout = "~/Views/Shared/_myLayout01.cshtml";
}

<!--about-part start-->
<section class="about-part blog-part">
    <div class="container">
        <div class="about-part-details text-center">
            <h2>blog</h2>
            <div class="about-part-content
					">
                <div class="breadcrumbs">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li><a href="index.html">home</a><span>//</span></li>
                            <li><a href="blog.html">blog</a></li>
                        </ol><!--/.breadcrumb-->
                    </div><!--/.container-->
                </div><!--/.breadcrumbs-->
            </div><!--/.about-part-content-->
        </div><!--/.about-part-details-->
    </div><!--/.container-->

</section><!--/.about-part-->
<!--about-part end-->
<!--nwes start -->
<section class="news">
    <div class="container">
        <div class="news-details">
            <div class="section-header text-center">
                <h2>our latest news</h2>
                <p>
                    Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div><!--/.section-header-->
            <div class="news-card">
                <div class="row">

                    <div class="col-md-8">
                        <main class="main">
                            <article class="post-45070 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-customer-experience tag-future-of-insurance tag-innovation-in-insurance series-personal-lines-and-small-commercial-carriers-narrative">
                                <div class="entry-content">
                                    <div class="series-block">
                                        <h4 class="section-title"> Other parts of this series: </h4>
                                        <ol>
                                            <li class="">
                                                <a href="https://insuranceblog.accenture.com/reimagining-end-to-end-customer-experience-drive-growth" data-analytics-link-name="Series Navigation for How reimagining the end-to-end customer experience can drive growth" data-analytics-module-name="aib-series-block" data-analytics-component-name="aib-series-block" data-analytics-template-zone="series-block" data-analytics-link-type="navigation" data-analytics-content-class="Content" data-analytics-engagement="1">How reimagining the end-to-end customer experience can drive growth</a>
                                            </li>
                                            <li class="disabled">
                                                <a disabled="disabled">Driving growth with innovative new insurance products</a>
                                            </li>
                                            <li class="">
                                                <a href="https://insuranceblog.accenture.com/driving-growth-insurance-marketing-transformation" data-analytics-link-name="Series Navigation for Driving growth with an insurance marketing transformation" data-analytics-module-name="aib-series-block" data-analytics-component-name="aib-series-block" data-analytics-template-zone="series-block" data-analytics-link-type="navigation" data-analytics-content-class="Content" data-analytics-engagement="1">Driving growth with an insurance marketing transformation</a>
                                            </li>
                                        </ol>
                                    </div>
                                    <hr>
                                    <p>Innovation-led revenues are poised to augment traditional revenues in many product lines. According to Accenture research, <a href="https://www.accenture.com/us-en/insights/insurance/revenue-landscape-2025-innovate-for-resilience" data-analytics-link-name="Innovate for resilience, and new insurance revenue," data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Innovate for resilience, and new insurance revenue,</a> the global insurance industry will&nbsp;grow by $1.4 trillion between 2020 and 2025. Included in that growth, we anticipate almost 5% of global premiums—approximately&nbsp;$280 billion—to be impacted by innovations in products ($140 billion) and shifts toward digital third-party platforms ($140 billion).</p>
                                    <h3>Start with unmet customer needs</h3>
                                    <p>For insurers wondering where to start when it comes to developing innovative new products, I recommend beginning by identifying your customers’ unmet needs. Through research, data analysis, and design thinking workshops, look beyond what you’re doing today to see solutions that could be meaningful, relevant, and valuable to your customers tomorrow.</p>
                                    <p>For instance, our <a href="https://www.accenture.com/us-en/insights/insurance/guide-insurance-customers-safety-well-being" target="_blank" rel="noopener" data-analytics-link-name="2021 Accenture Global Insurance Consumer Study" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">2021 Accenture Global Insurance Consumer Study</a> found that consumers are interested in:</p>
                                    <ul>
                                        <li>Personalized, usage-and behavior-based insurance such as pay-as-you-drive automotive insurance</li>
                                        <li>Life insurance premiums that reward customers for healthy lifestyle choices</li>
                                        <li>Cyber insurance where premiums are tied to using the latest virus protection software, password managers, and other tools</li>
                                    </ul>
                                    <figure id="attachment_45072" aria-describedby="caption-attachment-45072" style="width: 700px" class="wp-caption aligncenter"><a href="https://insuranceblog.accenture.com/wp-content/uploads/2022/03/Accenture-consumer-interest.jpg" target="_blank" rel="noopener" data-analytics-link-name="" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement=""><img class="wp-image-45072" src="https://insuranceblog.accenture.com/wp-content/uploads/2022/03/Accenture-consumer-interest-1024x499.jpg" alt="" width="700" height="341" srcset="https://insuranceblog.accenture.com/wp-content/uploads/2022/03/Accenture-consumer-interest-1024x499.jpg 1024w, https://insuranceblog.accenture.com/wp-content/uploads/2022/03/Accenture-consumer-interest-300x146.jpg 300w, https://insuranceblog.accenture.com/wp-content/uploads/2022/03/Accenture-consumer-interest-768x374.jpg 768w, https://insuranceblog.accenture.com/wp-content/uploads/2022/03/Accenture-consumer-interest-780x380.jpg 780w, https://insuranceblog.accenture.com/wp-content/uploads/2022/03/Accenture-consumer-interest.jpg 1391w" sizes="(max-width: 576px) 85vw, (max-width: 768px) 67vw, (max-width: 992px) 61vw, (max-width: 1024px) 45vw, (min-width: 1440px) 100vw, 600px"></a><figcaption id="caption-attachment-45072" class="wp-caption-text">Click/tap to view a larger image.</figcaption></figure>
                                    <p>&nbsp;</p>
                                    <h5 style="text-align: center;"><span style="color: #949494; font-size: 0.8em; font-weight: normal;">Source: <a href="https://www.accenture.com/us-en/insights/insurance/technology-vision-insurance-2021" target="_blank" rel="noopener" data-analytics-link-name="Technology Trends 2021 | Tech Vision | Accenture" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Technology Trends 2021 | Tech Vision | Accenture</a></span></h5>
                                    <p>Also, see my previous post in which I shared <a href="https://insuranceblog.accenture.com/4-areas-of-innovation-with-billions-in-revenue-opportunities" target="_blank" rel="noopener" data-analytics-link-name="four areas of innovation to consider" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">four areas of innovation to consider</a>.</p>
                                    <h3>Innovative new products targeting specific needs</h3>
                                    <p>Recent product offerings that are designed to meet very different consumer needs include:</p>
                                    <p><a href="https://threeinsurance.com/" target="_blank" rel="noopener" data-analytics-link-name="Three by Berkshire Hathaway" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement=""><strong>Three by Berkshire Hathaway</strong></a><strong>.</strong> Three offers comprehensive insurance for small businesses. The solution is built on three pillars—simple (a straightforward policy in plain English), comprehensive (one inclusive policy to protect the whole business) and cost-effective (designed to cost 20% less than comparable coverage). A single policy can cover business liability, business interruption, cyber attacks, worker’s compensation, business auto, and property and assets. For small business owners that qualify, this offering is a game-changer.</p>
                                    <p><a href="https://www.gettoggle.com/" target="_blank" rel="noopener" data-analytics-link-name="Toggle, a Farmers’ Company" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement=""><strong>Toggle, a Farmers’ Company</strong></a><strong>.</strong> Toggle offers customizable renters’ and auto insurance with rewards for each claim-free year and matched to millennial priorities. Customers can select from a range of options including coverage for expensive items like cameras, phones and computers, coverage for side hustle businesses, identity protection, and pet and injury insurance. The company also handles the switch from another insurer to make things as easy as possible for new customers. <a href="https://www.accenture.com/us-en/insights/interactive/business-of-experience" target="_blank" rel="noopener" data-analytics-link-name="Accenture worked with Toggle" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Accenture worked with Toggle</a> to analyze millennial attitudes toward renting and insurance—research that revealed the new offering had to be accessible, fast and customizable, and the experience second to none.</p>
                                    <h3>Experiment, launch, and scale</h3>
                                    <p>According to Harvard Business School’s Clayton Christensen, <a href="https://hbswk.hbs.edu/item/clay-christensens-milkshake-marketing" target="_blank" rel="noopener" data-analytics-link-name="95% of all new products fail" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">95% of all new products fail</a>. We’ve found that successful products are the result of <a href="https://www.accenture.com/us-en/insights/industry-x/experience-first" target="_blank" rel="noopener" data-analytics-link-name="development strategies" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">development strategies</a> that put customer experience at the forefront and focus on <a href="https://www.accenture.com/us-en/blogs/industry-digitization/how-to-develop-products-from-a-data-driven-perspective" target="_blank" rel="noopener" data-analytics-link-name="leveraging data" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">leveraging data</a>. Reducing the cost and time it takes to gain customer learnings is key to pulling ahead. This is in stark contrast to the slow and deliberate approach that historically risk-averse insurance companies have typically favored. This means building a data-led, rapid experimentation capability, perhaps even innovation hubs and incubators, that let you test a series of hypotheses and build prototypes without risking huge investments. My colleague, David Boycott, talks about how to <a href="https://www.accenture.com/us-en/blogs/interactive-insights-blog/three-ways-to-escape-pilot-purgatory" target="_blank" rel="noopener" data-analytics-link-name="escape from pilot purgatory" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">escape from pilot purgatory</a>.</p>
                                    <p>Given that so many products fail, the launch and scale of new products are also critical. To do that you need to set key targets, use data-led marketing and create a rollout framework to scale them across new channels. If you’re interested in learning more about this, see our <a href="https://www.accenture.com/us-en/services/interactive/always-on-growth" target="_blank" rel="noopener" data-analytics-link-name="Launch your next big opportunity" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Launch your next big opportunity</a> page. Another option my colleague Jim Bramblet has talked about is to use <a href="https://insuranceblog.accenture.com/what-are-digital-twins-and-why-should-insurers-care" target="_blank" rel="noopener" data-analytics-link-name="intelligent digital twins" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">intelligent digital twins</a>.</p>
                                    <p>In my next post, I’ll look at how a marketing transformation can help you drive growth.</p>
                                    <hr>
                                    <div><em>Get the latest insurance industry insights, news, and research delivered straight to your inbox.</em></div>
                                    <div><a class="button " href="https://info.accenture.com/fs-blog-subscription-center" data-analytics-link-name="Subscribe" data-analytics-module-name="aib-ghost-button" data-analytics-component-name="aib-ghost-button" data-analytics-template-zone="ghost-button" data-analytics-link-type="navigation" data-analytics-content-class="Content" data-analytics-engagement="1">Subscribe</a><div class="clearfix"></div></div>
                                    <h5><span style="color: #949494; font-size: 0.8em; font-weight: normal;">Disclaimer: This content is provided for general information purposes and is not intended to be used in place of consultation with our professional advisors.</span></h5>
                                    <div class="marketo-post-content"></div>
                                </div>
                                <footer>
                                    <div class="post-tags">
                                        <a href="https://insuranceblog.accenture.com/tag/customer-experience" rel="tag" data-analytics-link-name="Customer Experience" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Customer Experience</a> <a href="https://insuranceblog.accenture.com/tag/future-of-insurance" rel="tag" data-analytics-link-name="Future of Insurance" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Future of Insurance</a> <a href="https://insuranceblog.accenture.com/tag/innovation-in-insurance" rel="tag" data-analytics-link-name="Innovation in insurance" data-analytics-module-name="aib-module" data-analytics-component-name="aib-module" data-analytics-template-zone="body" data-analytics-content-type="cta" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="">Innovation in insurance</a>
                                    </div>

                                    <div class="author-wrap">
                                        <div class="so-widget-acc-author-widget so-widget-acc-author-widget-style-d75171398898">
                                            <div class="acc-author-widget-base">
                                                <div class="acc-author-widget-content">
                                                    <a href="https://insuranceblog.accenture.com/author/erik-j-sandquist" class="acc-author-widget-photo" style="background-image: url('https://insuranceblog.accenture.com/wp-content/uploads/userphoto/31.png');"><img src="https://insuranceblog.accenture.com/wp-content/uploads/userphoto/31.thumbnail.png" alt="Erik J. Sandquist" width="130" height="117" class="photo"></a>
                                                    <div class="acc-author-widget-info">
                                                        <h4>Erik J. Sandquist</h4>
                                                        <p>Managing Director – Insurance, Global Lead Customer, Sales and Service</p>
                                                        <div class="acc-author-widget-social-icons">
                                                            <a href="https://twitter.com/erik_sandquist" target="_blank" title="View Author social profile for twitter" data-analytics-link-name="icon-twitter-erik_sandquist" data-analytics-module-name="aib-author-widget" data-analytics-component-name="aib-author-widget" data-analytics-template-zone="author-widget" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="1"><i class="icon-twitter"></i></a>
                                                            <a href="https://www.linkedin.com/in/erik-sandquist-0a82b212" target="_blank" title="View Author social profile for linkedin" data-analytics-link-name="icon-linkedin-in-erik-sandquist-0a82b212" data-analytics-module-name="aib-author-widget" data-analytics-component-name="aib-author-widget" data-analytics-template-zone="author-widget" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="1"><i class="icon-linkedin"></i></a>
                                                            <a href="https://info.accenture.com/ins-erik-sandquist-contact" target="_blank" title="View Author social profile for mail" data-analytics-link-name="icon-mail-ins-erik-sandquist-contact" data-analytics-module-name="aib-author-widget" data-analytics-component-name="aib-author-widget" data-analytics-template-zone="author-widget" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="1"><i class="icon-mail"></i></a>
                                                        </div>
                                                        <p><a class="acc-author-widget-link" href="https://insuranceblog.accenture.com/author/erik-j-sandquist" data-analytics-link-name="View Profile" data-analytics-module-name="aib-author-widget" data-analytics-component-name="aib-author-widget" data-analytics-template-zone="author-widget" data-analytics-link-type="cta" data-analytics-content-class="Content" data-analytics-engagement="1">View Profile</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                </footer>
                            </article>
                        </main>
                    </div><!--/.col-md-8-->

                    <div class="col-md-4">
                        <div class="blog-right">

                            <div class="blogs-widget">
                                <form>
                                    <input type="text" class="form-control" placeholder="Search">
                                </form><!--/.form-->
                                <div class="blog-search-icon">
                                    <a href="#">
                                        <span class="lnr lnr-magnifier">

                                        </span>
                                    </a>
                                </div><!--/.blog-search-icon-->
                            </div><!--/.blog-widget-->

                            <div class="blogs-widget">
                                <h2>categories</h2>
                                <div class="blog-categories-list">
                                    <ul>
                                        <li><a href="#">all</a></li>
                                        <li><a href="#">busisness</a></li>
                                        <li><a href="#">consultency</a></li>
                                        <li><a href="#">corporate</a></li>
                                        <li><a href="#">politics</a></li>
                                        <li><a href="#">marketing</a></li>
                                        <li><a href="#">lifestyle</a></li>
                                    </ul>
                                </div><!--/.blog-categories-list-->
                            </div><!--/.blog-widget-->

                            <div class="blogs-widget">
                                <h2>related news</h2>
                                <div class="blog-related-news">
                                    <div class="bl-txt wow fadeInUp" data-wow-duration=".7s" data-wow-delay=".7s">
                                        <div class="bl-img">
                                            <a href="#">
                                                <img src="assets/images/blog/rp1.jpg" alt="image" />
                                            </a>
                                        </div><!--/.bl-img-->
                                        <p>
                                            <a href="#">
                                                CFOs focused on retaining key talent
                                            </a>
                                            <span>25th Feb, 2017</span>
                                        </p>
                                    </div><!--/.bl-txt-->
                                    <div class="bl-txt">
                                        <div class="bl-img">
                                            <a href="#">
                                                <img src="assets/images/blog/rp2.jpg" alt="image" />
                                            </a>
                                        </div><!--/.bl-img-->
                                        <p>
                                            <a href="#">
                                                Accenture acquires for the undisclosed sum
                                            </a>
                                            <span>25th Feb, 2017</span>
                                        </p>
                                    </div><!--/.bl-txt-->
                                    <div class="bl-txt">
                                        <div class="bl-img">
                                            <a href="#">
                                                <img src="assets/images/blog/rp3.jpg" alt="image" />
                                            </a>
                                        </div><!--/.bl-img-->
                                        <p>
                                            <a href="#">
                                                Startup investments drop on venturing rises
                                            </a>
                                            <span>25th Feb, 2017</span>
                                        </p>
                                    </div><!--/.bl-txt-->
                                </div><!--/.blog-related-news-->
                            </div><!--/.blog-widget-->

                            <div class="blogs-widget">
                                <h2>Archives</h2>
                                <div class="blog-categories-list">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                November 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                October 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                September 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                August 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                July 2017
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-angle-right" aria-hidden="true">

                                                </i>
                                                June 2017
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div><!--/.blog-widget-->

                            <div class="blogs-widget
									">
                                <h2>popular tags</h2>
                                <div class="blog-tags">
                                    <button type="button" class="btn btn-default">busisness</button>
                                    <button type="button" class="btn btn-default">consultency</button>
                                    <button type="button" class="btn btn-default">market</button><br />
                                    <button type="button" class="btn btn-default">sales</button>
                                    <button type="button" class="btn btn-default">corporate</button>
                                    <button type="button" class="btn btn-default">politics</button>
                                </div><!--/.blog-tags-->
                            </div><!--/.blog-widget-->

                        </div><!--/.blog-right-->

                    </div><!--/.col-->

                </div><!--/.row-->
            </div><!--/.news-card-->

        </div><!--/news-details-->
    </div><!--/.container-->

</section><!--/news-->
<!--news end-->
<!-- new-project start -->
<section class="new-project">
    <div class="container">
        <div class="new-project-details">
            <div class="row">
                <div class="col-md-10 col-sm-8">
                    <div class="single-new-project">
                        <h3>
                            Want to get online quotation from us? Let’s Start!
                        </h3>
                    </div><!-- /.single-new-project-->
                </div><!-- /.col-->
                <div class="col-md-2 col-sm-4">
                    <div class="single-new-project">
                        <a href="name-and-contact.html" class="slide-btn">
                            start now
                        </a>
                    </div><!-- /.single-new-project-->
                </div><!-- /.col-->
            </div><!-- /.row-->
        </div><!-- /.new-project-details-->
    </div><!-- /.container-->

</section><!-- /.new-project-->
<!-- new-project end -->
