
@{
    ViewBag.Title = "Car_manual";
    Layout = "~/Views/Shared/_myLayout01.cshtml";
}

<div style="text-align: center;">
    <img style="margin: 20px;" src="https://bao-hiem-o-to.libertyinsurance.com.vn/assets/lvn/libertysales/assets/images/liberty/libertyIreland-car.svg" alt="">
    <h2>Please select your vehicle details below</h2>
    <form id="frm1" method="post" action="xulydangky.php">
        <input style="margin-top: 20px; width: 500px; height: 50px" type="text" placeholder="Year Of Manufacture" />
        <input style="margin-top: 20px; width: 500px; height: 50px" type="text" placeholder="Automaker" />
        <input style="margin-top: 20px; width: 500px; height: 50px" type="text" placeholder="Car Brand" />
        <input style="margin-top: 20px; width: 500px; height: 50px" type="text" placeholder="Type Of Car" />
        <a href="car-date-first-registration.html" style="margin-top: 20px; height: 50px; width: 300px; background-color: aqua; line-height: 50px;" type="submit">Continue</a>
        <br>
        <a href="location.html" style="margin-top: 10px; margin-bottom: 20px; height: 40px; width: 100px; background-color: rgb(216, 212, 212); line-height: 40px;" type="button">Back</a>
    </form>
</div>

