
@{
    ViewBag.Title = "Customer_care_program";
    Layout = "~/Views/Shared/_myLayout01.cshtml";
}

<!--about-part start-->
<section class="about-part service-part">
    <div class="container">
        <div class="about-part-details text-center">
            <h2>service</h2>
            <div class="about-part-content">
                <div class="breadcrumbs">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li><a href="index.html">home</a><span>/</span></li>
                            <li><a href="service.html">service</a></li>
                        </ol><!--/.breadcrumb-->
                    </div><!--/.container-->
                </div><!--/.breadcrumbs-->
            </div><!--/.about-part-content-->
        </div><!--/.about-part-details-->
    </div><!--/.container-->

</section><!--/.about-part-->
<!--about-part end-->
<!--service start-->
<section class="service">
    <div class="container">
        <div class="service-details">
            <div class="col-md-9">
                <p><span><span><span>Compulsory auto insurance or compulsory civil liability insurance for cars is one of the must-have documents of car owners on the road. Compulsory auto insurance is the responsibility and obligation of the vehicle owner.</span></span></span></p>

                <p>&nbsp;</p>

                <h2><span><span><span><strong>What Is Compulsory Auto Civil Liability Insurance?</strong></span></span></span></h2>

                <p><span><span><span>Automobile civil liability insurance is a form of compulsory auto insurance. Any type of motor vehicle needs to buy all the necessary insurance before participating in traffic on the road. Accordingly, the competent authorities and traffic police will have the right to inspect and sanction in case insurance is not covered or insurance has expired. </span></span></span></p>

                <p>
                    <span>
                        <span>
                            <span>
                                Simply put, compulsory auto insurance is coverage for the owner of a car or its drivers. When an accident occurs, the insurance company will pay compensation on behalf of the car owner/driver to a third party (the party with the car causing the accident). This insurance helps some people who cause an accident for some reason not to have to flee, be liable for the accident that has occurred to the extent of the liability of the participating insurance, and not be criminally prosecuted for lose the ability to compensate other subjects.
                            </span>
                        </span>
                    </span>
                </p>

                <p>
                    <span>
                        <span>
                            <span>
                                However, with auto civil liability insurance, insurance companies will not pay according to the arrangement of the two parties, but must have an object to clearly identify who is responsible for who is at fault to know which party to insure. must pay for the damage that has occurred. It's the traffic police. Based on this record will determine the amount that the insurance company must pay.
                            </span>
                        </span>
                    </span>
                </p>

                <h2>&nbsp;</h2>

                <h2>
                    <span>
                        <span>
                            <span>
                                Benefits of buying compulsory car insurance
                            </span>
                        </span>
                    </span>
                </h2>

                <p>
                    <span>
                        <span>
                            <span>
                                Getting started auto insurance is the responsibility and civil obligation of the vehicle owner. However, this is also bringing a number of benefits to vehicle drivers:
                            </span>
                        </span>
                    </span>
                </p>

                <ul>
                    <li>
                        <span>
                            <span>
                                <span>
                                    Show that the car owner is a citizen who complies with the law.
                                </span>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span>
                            <span>
                                <span>
                                    In the unfortunate event of an accident within the scope of insurance, the vehicle owner has the ability to guarantee the obligation to remedy the consequences.
                                </span>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span>
                            <span>
                                <span>
                                    Protect yourself in the event of a financial risk or in the event of an accident.
                                </span>
                            </span>
                        </span>
                    </li>
                    <li><span><span><span>Limiting penalties when traffic police ask to present compulsory car insurance.</span></span></span></li>
                </ul>

                <h2>&nbsp;</h2>

                <h2><span><span><span><strong>Compulsory insurance premium for civil liability for automobiles</strong></span></span></span></h2>

                <p><span><span><span>According to the provisions of Appendix 05 - Circular 22/2016/TT-BTC of the Ministry of Finance, the compulsory civil liability insurance premium for automobiles ranges from 437,000 - 1,825,000 VND for non-commercial vehicles. carriage.</span></span></span></p>

                <p><span><span><span>In addition to compulsory insurance for civil liability for cars, there is another type of insurance on the market that goes hand in hand with voluntary auto insurance.</span></span></span></p>

                <p>
                    <span>
                        <span>
                            <span>
                                For voluntary insurance, what benefits the car owner receives will depend on the content of the contract and agreement between the insurance seller and the insurance buyer. Buyers can choose to insure the car owner or insure the vehicle itself. Meanwhile, compulsory motorcycle insurance only pays 3rd party damage (not the vehicle owner).
                            </span>
                        </span>
                    </span>
                </p>

            </div>
        </div><!--/.service-details-->
    </div><!--/.container-->

</section><!--/.service-->
<!--service end-->
<!-- new-project start -->
<section class="new-project">
    <div class="container">
        <div class="new-project-details">
            <div class="row">
                <div class="col-md-10 col-sm-8">
                    <div class="single-new-project">
                        <h3>
                            Want to get online quotation from us? Let’s Start!
                        </h3>
                    </div><!-- /.single-new-project-->
                </div><!-- /.col-->
                <div class="col-md-2 col-sm-4">
                    <div class="single-new-project">
                        <a href="name-and-contact.html" class="slide-btn">
                            start now
                        </a>
                    </div><!-- /.single-new-project-->
                </div><!-- /.col-->
            </div><!-- /.row-->
        </div><!-- /.new-project-details-->
    </div><!-- /.container-->

</section><!-- /.new-project-->
<!-- new-project end -->
