
@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_myLayout01.cshtml";
}

<div style="text-align: center;">
    <img style="margin: 20px;" src="https://bao-hiem-o-to.libertyinsurance.com.vn/assets/lvn/libertysales/assets/images/liberty/libertyIreland-name.svg" alt="">
    <h2>Where do you live?</h2>
    <form id="frm1" method="post" action="xulydangky.php">
        <input style="margin-top: 20px; width: 500px; height: 50px" type="text" placeholder="City/Province of vehicle registration" />
        <br>
        <i>Please enter your province to help narrow down your options</i>
        <br>
        <a href="car-manual.html" style="margin-top: 20px; height: 50px; width: 300px; background-color: aqua; line-height: 50px;" type="submit">Continue</a>
        <br>
        <a href="date-of-birth.html" style="margin-top: 10px; margin-bottom: 20px; height: 40px; width: 100px; background-color: rgb(216, 212, 212); line-height: 40px;" type="button">Back</a>
    </form>
</div>

