
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_myLayout01.cshtml";
}

<!--about-part start-->
<section class="about-part service-part">
    <div class="container">
        <div class="about-part-details text-center">
            <h2>service</h2>
            <div class="about-part-content">
                <div class="breadcrumbs">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li><a href="index.html">home</a><span>/</span></li>
                            <li><a href="service.html">service</a></li>
                        </ol><!--/.breadcrumb-->
                    </div><!--/.container-->
                </div><!--/.breadcrumbs-->
            </div><!--/.about-part-content-->
        </div><!--/.about-part-details-->
    </div><!--/.container-->

</section><!--/.about-part-->
<!--about-part end-->
<!--service start-->
<section class="service">
    <div class="container">
        <div class="service-details">
            <div class="section-header text-center">
                <h2>Our services</h2>
                <p>
                    We are ready to assist you.
                </p>
            </div><!--/.section-header-->
            <div class="service-content-one">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="~/assets/images/service/service1.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Customer care programs</a>
                                </h2>
                                <p>
                                    Information about ZomBiz Vietnam's customer care programs
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="~/assets/images/service/service2.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Insurance payment channels</a>
                                </h2>
                                <p>
                                    Introducing premium payment channels
                                </p>
                                <br />

                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="~/assets/images/service/service3.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Forms</a>
                                </h2>

                                <p>Common forms related to adjustment of policy information and claims for insurance benefits</p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.service-content-one-->
            <div class="service-content-two">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="~/assets/images/service/service4.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Insurance benefits settlement service</a>
                                </h2>
                                <br>
                                <p>General introduction of insurance benefit settlement service</p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="~/assets/images/service/service5.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Guide to procedures for settlement of insurance benefits</a>
                                </h2>
                                <p>Documents to be submitted when claiming benefits<p>
                                    <a href="#" class="service-btn">
                                        learn more
                                    </a>
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="~/assets/images/service/service6.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">24/7 support service</a>
                                </h2>
                                <br />
                                <br />
                                <p>Agents are always ready to solve problems for customers</p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a>
                                <br />
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.service-content-two-->
        </div><!--/.service-details-->
    </div><!--/.container-->

</section><!--/.service-->
<!--service end-->
